@font-face {
  font-family: 'Roboto Condensed';
  font-stretch: 100; /* Note that font-stretch is a % of normal width */
  font-style: normal; /* See note below */
  font-weight: 100 900;
  src: url('../static/assets/font/RobotoCondensed-VariableFont_wght.ttf');
}

* {
  font-family:
    'Roboto Condensed',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline: 2px solid #fdbf57;
}

body {
  width: 360px;
  padding: 0;
}

header {
  display: flex;
  gap: 0.75rem;
  align-items: center;

  padding: 1rem;
  height: 4rem;
  background-color: #7a003c;
  color: whitesmoke;

  & img {
    height: 100%;
    margin-bottom: 0.25rem;
  }
}

h1,
h1 > * {
  font-weight: 400;
}

h1 > span {
  color: #fdbf57;
}

h3 {
  font-weight: 400;
}

label {
  font-weight: 400;
}

hr {
  opacity: 0.5;
}

a {
  color: #7a003c;
  font-weight: bolder;

  &:hover,
  &:focus {
    color: #a40e59;
  }

  &:active {
    color: #620131;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  & > * {
    width: 100%;
  }
}

input {
  border-radius: 0;
  height: 1.5rem;
  border: 2px solid rgb(200, 200, 200);
  font-size: 1rem;
}

.hidden {
  display: none;
}
#name-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#format {
  display: flex;
  flex-direction: column;
}

#modal {
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgb(200, 200, 200);
  z-index: 50;
  display: none;
  position: absolute;
  padding: 4px;
  line-height: 0.75rem;
  width: 160px;
  top: 55px;
  left: 130px;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
}

#format-spec-ctnr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}

#format-err {
  display: none;
  color: #a40e59;
}

#format-info {
  display: inline-block;
  height: 17px;
}

#format-btns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  & button {
    border-radius: 0;
    border: 1.5px solid rgb(200, 200, 200);
    background: linear-gradient(rgb(227, 227, 227), rgb(201, 201, 201));
    cursor: pointer;
  }

  & button:active {
    filter: brightness(0.8);
  }
  & button:hover {
    filter: brightness(1.05);
  }
  & button:hover:active {
    filter: brightness(0.75);
  }
  & button:disabled,
  & button:disabled:active {
    filter: brightness(0.7);
    cursor: default;
  }
}

#room-check {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;

  & input {
    position: absolute;
    height: 0;
    width: 0;
    top: -999px;
    left: -999px;
  }

  & #checkbox-ctnr {
    background-color: transparent;
    width: 1.25rem;
    height: 1.25rem;
    border: 1.5px solid rgb(200, 200, 200);
  }

  & input:checked ~ #checkbox-ctnr {
    background-color: #7a003c;
    border-color: #7a003c;
  }

  #checkbox-ctnr:after {
    content: '';
    display: none;
    position: absolute;
    rotate: 45deg;
    border-color: #fdbf57;
    border-width: 0 4px 4px 0;
    border-style: solid;
    width: 0.35rem;
    height: 0.75rem;
    top: -0.5px;
    left: 6px;
  }

  & > input:focus ~ #checkbox-ctnr {
    border: 2px solid #fdbf57;
  }

  & input:checked ~ #checkbox-ctnr:after {
    display: block;
  }
  & input:hover ~ #checkbox-ctnr {
    background-color: rgb(240, 240, 240);
  }
  & input:active ~ #checkbox-ctnr {
    background-color: rgb(200, 200, 200);
  }
  & input:checked:hover ~ #checkbox-ctnr {
    background-color: #a40e59;
  }
  & input:checked:hover:active ~ #checkbox-ctnr {
    background-color: #620131;
  }

  & input:disabled ~ #checkbox-ctnr,
  & input:disabled:hover ~ #checkbox-ctnr,
  & input:disabled:active ~ #checkbox-ctnr,
  & input:disabled:hover:active ~ #checkbox-ctnr {
    background-color: white;
    border-color: lightgray;
  }

  &:has(input:disabled) {
    cursor: default;
    color: gray;
  }

  & input:disabled ~ #checkbox-ctnr:after {
    border-color: gray;
  }
}

#timetable-preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & > * {
    margin-bottom: 0.75rem;
  }
}

#preview-block {
  position: relative;
  height: 120px;

  & > img {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#block {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  width: 7.75rem;
  height: 4.75rem;
  background-color: #a40e5954;
  border: 1px solid #a40e59;
}

#block-title {
  font-weight: 400;
  font-size: 0.75rem;
  height: fit-content;
  max-height: 3rem;
  width: 100%;
}

#block-loc {
  height: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;

  & img {
    height: 80%;
  }
}

#wrong-page-content {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  & * {
    text-align: center;
    width: 100%;
  }

  & > small {
    margin-top: 1rem;
  }
}

#submit {
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.5rem;
  border: none;
  background-color: #7a003c;
  color: #fdbf57;
  transition: all ease-in-out 0.25s;
  cursor: pointer;

  &:hover {
    background-color: #fdbf57;
    color: #7a003c;
    scale: 1.05;
    box-shadow:
      0px 5px 20px rgba(0, 0, 0, 0.3),
      0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  &:hover:active {
    background-color: #620131;
    color: #fdbf57;
    scale: 0.95;
  }

  &:disabled {
    background-color: #3f001f;
    color: #8c5d0b;
    cursor: default;
    scale: 0.95;
  }
}

#disclaimer {
  display: none;
  user-select: none;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  margin-top: -0.5rem;
}
